--extra-index-url https://download.pytorch.org/whl/cu113

autofaiss==2.15.0
bert_score==0.3.12
datasets==2.8.0
evaluate==0.4.0
jsonlines
matplotlib==3.5.2
numpy
openai
openpyxl
pandas
pyserini==0.20.0
python-dotenv==1.0.0
pytorch-lightning==1.6.5
rouge-score==0.1.2
sacrebleu==2.3.1
seaborn==0.11.2
sentence-transformers==2.2.2
scikit-learn
streamlit==1.37.0
tensorboard==2.11.2
torch==2.2.0
torchmetrics
transformers==4.38.0

git+https://github.com/Tomiinek/MultiWOZ_Evaluation.git@master
